# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
instance/

# --- Database & Storage ---
*.sqlite3
*.db
/app/static/uploads/*
!/app/static/uploads/.gitkeep

# --- AI & Logs ---
*.log
.google_auth_cache
vector_store/

# --- Docker & DevOps ---
.dockerignore
docker-compose.override.yml
.buildozer/
bin/

# --- IDE Settings ---
.vscode/
.idea/
.DS_Store